<html>
    <head>
        <title>Dashboard</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="/socket.io-client/dist/socket.io.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <div id="app">
            <div>



                <div class="row">
                    <div class="col-12">
                      <h1><strong>Fila: </strong>suporte</h1>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3 card card-default">
                      <div class="card-body text-center ">
                        {{ onHoldCalls.length }}
                        <br />
                        Ch. em espera
                      </div>
                    </div>
                    <div class="col-3 card card-default">
                      <div class="card-body text-center">
                        {{ answered }}
                        <br />
                        Atendidas
                      </div>
                    </div>
                    <div class="col-3 card card-default">
                      <div class="card-body text-center">
                        {{ abandon }}
                        <br />
                        Abandonadas
                      </div>
                    </div>
                    <div class="col-3 card card-default">
                      <div class="card-body text-center">
                        {{ (parseInt(answered)+parseInt(abandon)) }}
                        <br />
                        Total
                      </div>
                    </div>
                </div>
                <br /><br />


                <div class="row">
                    <div class="col-12">
                      <h3>Agentes:</h3>
                      <table class="table table-hover table-bordered">
                        <tr>
                          <th>Agente:</th>
                          <th>Ramal:</th>
                          <th>Pausa:</th>
                          <th>Status:</th>
                        </tr>
                            <tr v-for="agent in agents">
                                <td>{{agent.name}}</td>
                                <td>{{agent.location}}</td>
                                <td>{{agent.paused}}</td>
                                <td>{{agent.status}}</td>
                          </tr>
                      </table>
                    </div>
                </div>
                <br /><br />


                <div class="row">
                    <div class="col-12">
                      <h3>Ch. em espera:</h3>
                      <table class="table table-hover table-bordered">
                        <tr>
                          <th>Bina:</th>
                        </tr>
                        <tr v-for="call in onHoldCalls">
                            <td>{{ call.clid }}</td>
                        </tr>
                      </table>
                    </div>
                </div>

            </div>
        </div>
        <script>
             var app = new Vue({
                el: '#app',
                data: {
                    answered: 0,
                    abandon: 0,
                    agents: [],
                    onHoldCalls: [],
                },

                mounted() {
                    setTimeout(function() {
                        fetch("http://192.168.18.241:3000/stats?queue=suporte");
                    }, 1000);

                    let socket = io("http://192.168.18.241:3000");

                    socket.on("suporte", async (event) => {

                        console.log(JSON.stringify(event));

                        if(event.event == "QueueParams"){
                            this.abandon = event.abandoned;
                            this.answered = event.completed;
                        }

                        if(event.event == "QueueMember"){
                            this.agents.push({name: event.name, location: event.location, status: event.status, paused: event.paused});
                        }

                        if(event.event == "QueueCallerJoin"){
                            this.onHoldCalls.push({clid: event.calleridnum, uniqueid: event.uniqueid})
                        }

                        if(event.event == "QueueCallerLeave"){
                            let tmpOnHoldCalls = [];

                            this.onHoldCalls.forEach((call) => {
                                if(call.uniqueid != event.uniqueid){
                                    tmpOnHoldCalls.push({clid: call.clid, uniqueid: call.uniqueid});
                                }
                            })

                            this.onHoldCalls = tmpOnHoldCalls;
                        }

                        if(event.event == "QueueMemberStatus"){
                            let tmpAgents = [];

                            this.agents.forEach((agent) => {
                                if(agent.location == event.interface){
                                    agent.status = event.status;
                                    agent.paused = event.paused;
                                }

                                tmpAgents.push(agent);
                            });

                            this.agents = tmpAgents;
                        }

                        if(event.event == "QueueCallerAbandon"){
                            this.abandon = parseInt(this.abandon)+1;
                        }

                        if(event.event == "AgentConnect"){
                            this.answered = parseInt(this.answered)+1;
                        }
                        
                    });
                }
             });
        </script>
    </body>
</html>